body {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  transition: .5s;
  background-blend-mode: darken;
  background-color: #000; 
  &.index {
    overflow: auto;
  }
  &.bg1 {
    background-color: transparent;
    @include bg('../img/bg1.jpg',cover);
    transition: .5s;
  }
  > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    width: 100%;
    height: 100vh;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
    background-image: url('../img/bg1.jpg');
    &:nth-child(1){
      animation-delay: 6s;
      background-image: url('../img/bg2.jpg');
    }
    &:nth-child(2) {
      animation-delay: 12s;
      background-image: url('../img/bg3.jpg');
    }
    &:nth-child(3) {
      animation-delay: 18s;
      background-image: url('../img/bg4.jpg');
    }
    &:nth-child(4) {
      animation-delay: 24s;
      background-image: url('../img/bg2.jpg');
    }
  }

  // &.bg2 {
  //   background-image: url('../img/bg2.jpg');
  //   transition: .5s;
  //   background-position: bottom center;
  // }
  // &.bg3 {
  //   background-image: url('../img/bg3.jpg');
  //   transition: .5s;
  // }
  // &.bg4 {
  //   background-image: url('../img/bg4.jpg');
  //   transition: .5s;
  // }
  
}
@keyframes imageAnimation {  
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  &.home {
    height: auto;
  }
}

.init {
  display: block;
  padding: 10px 20px;
  color:$gray;
  border:1px solid $gray;
  background: transparent;
  border-radius: 10px;
  transition: .5s;
  position: absolute;
  top: 60%;
  z-index: 2;
  cursor: pointer;
  &:hover {
    transition: .5s;
    background: rgba($gray,.3);
  }
  &.initiated {
    display: none;
  }
}

button.submit {
  @extend .init ;
}

.j-sign {
  display: block;
  // position: fixed;
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 35%;
  height: 150px;
  max-width: 200px;
  @include bg('../img/j_sign.svg',100%);

}

.e-sign {
  display: block;
  // position: fixed;
  position: absolute;
  width: 35%;
  max-width: 165px;
  height: 130px;
  top: 20px;
  left: 30px;
  @include bg('../img/e_sign.svg',100%);
  @include iphone5{
    background-position: top center;
  }
}


.title {
  font-size: 36px;
  font-family: 'Suravaram', serif;
  color:$gray;
  text-align: center;
  width: 100%;
  // position: fixed;
  position: absolute;
  top: 40%;
  @include phone{
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 300;
    top: 35%;
  }
}
@keyframes fadein {
  from { opacity: 0; transform: translateY(30px) }
  to {opacity: 1; transform: translateY(0)}
}



.result-title {
  @extend .title ;
  opacity: 0;
  
}
#t1 {
  animation: fadein 2s alternate forwards;
}
#t2 {
  top: 50%;
  @include phone {
    top: 41%;
  }
  animation: fadein 2s alternate forwards;
}
#t3 {
  top: 80%;
  font-size: 16px;
  @include phone {
    font-size: 12px;
    top: 90%;
  }
  animation: fadein 2s alternate forwards;
}
.form {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}
section.question {
  padding: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  // transform: translateY(100%);
  opacity: 0;
  position: absolute;
  bottom: -100%;

  .input-title {
    color: $gray;
    margin: 20px 0px;
    text-align: center;
    @include phone{
      font-size: 14px;
    }
  }
  input{
    display: block;
    margin: auto;
    box-shadow: none;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    background:rgba($gray,.8);
    font-size: 16px;
    max-width: 300px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  textarea {
    @extend input ;
  }
  input[type=radio]{
    display: none;
  }
  &.hide {
    display: none;
  }
  .radio-grp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .radio {
    margin: 10px;
    .radio-box {
      display: inline-block;
      padding: 10px;
      color:$gray;
      text-align: center;
      border:1px solid $gray;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }
    input[type=radio]:checked + .radio-box {
      background: $gray;
      color:#222;
    }
  }
}

#ques8 {
  input {
    min-width: 300px;
  }
}
#ques9 {
  .input-grp {
    position: absolute;
    top: 40%;
    @include iphone5 {
      top: 33%;
    }
  }
}
#ques3 .input-grp {
  position: absolute;
    top: 40%;
  @include iphone5{
    position: absolute;
    top: 35%;
  }
}
#vegetSum {
  display: none;
}
.next-q {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  color:$gray;
  font-size: 20px;
  i {
    color:$gray;
    font-size: 20px;
  }
  @include wideScreen{
    right: 30%;
    bottom: 50px;
  }
}
.prev-q {
  @extend .next-q ;
  right: initial;
  left: 30px;
  @include wideScreen{
    left: 30%;
    bottom: 50px;
  }
}
.inforow {
  display: flex;
  
}
.info {
  width: 50%;
  text-align: center;
  padding: 10px;
  color:$gray;
  font-size: 12px;
  &:first-child {
    border-right:1px solid $gray;
  }
  .time {
    margin-right: 5px;
    font-style: italic;
  }
}

// =============

//     首頁

// =============

section.row {
  width: 100%;
  height: 100vh;
  position: relative;
  .bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    clip: rect(0, auto, auto, 0);
    top: 0;
    left: 0;
  }
  .bg .img {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    will-change: transform;
    @include bg('../img/sec1.jpg',cover);
    // background-attachment: fixed;
    filter: brightness(0.8);
  }
}
#sec1 {
  .bg .img {
    @include phone{
      background-position: -90vw 0px;
    }
  }
}
#sec2 {
  .bg .img {
    background-image: url('../img/sec2.jpg');
  }
  
}
#sec3 {
  .bg .img {
    background-image: url('../img/sec3.jpg');
  }
}
#sec4 {
  .bg .img {
    background-image: url('../img/sec4.jpg');
    @include phone{
      background-position: -400px 0px;
    }
    @include iphone5 {
      background-position: -400px 0px;
    }
  }
}
#sec5 {
  .bg .img {
    background-image: url('../img/sec5.jpg');
  }
}
#sec6 {
  .bg .img {
    background-image: url('../img/sec6.jpg');
    @include phone{
      background-position: -100px 0px;
    } 
  }
}
#sec7 {
  .bg .img {
    background-image: url('../img/sec7.jpg');
    @include phone{
      background-position: -230px 0px;
    } 
  }
}
#sec8 {
  .bg .img {
    background-image: url('../img/sec8.jpg');
    @include phone{
      background-position: -180px 0px;
    } 
  }
  .init {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    right: initial;
  }
}

section.row {
  .txt {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    letter-spacing: 2px;
    @include phone {
      font-size: 20px;
    }
    &.left {
      left: 30px;
      top: 100px;
    }
    &.right {
      bottom: 100px;
      right: 30px;
      text-align: right;
    }
    &.bottom {
      bottom: 50px;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      font-size: 12px;
    }
  }
}

@keyframes down {
  0% { transform: translateY(0); }
  100% {transform: translateY(-10px);}
}

.down {
  position: absolute;
  width: 30px;
  height: 30px;
  color:$gray;
  font-size: 30px;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  animation: down .4s alternate infinite;
  &:before {
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: center;
    content: "\f107";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}




a.albert {
  display: inline-block;
  color:$gray;
  padding: 5px 10px;
  border-radius: 5px;
  border:1px solid $gray;
  font-family: calibri;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  letter-spacing: .25em;
  line-height: 1.4em;
  margin-left: 10px;
}
